/* ------------------------------------general */
body {
    margin: 0;
    font-family: 'Arial','Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}



/* ------------------------------------header */

header {
    margin-top: 12px;
    color: rgb(70, 70, 70);
}

.top-right-nav {
    display: flex;
    margin: 0 1%;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.top-right-nav li {
    padding-right: 1.2em;
}

.my-profile-img img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
}

/* -------------------------------------main */

.main {
   
}

.google-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 34vh;
    padding-bottom: 5vh;
}

.google-logo img {
    height: 90px;
}

.search-bar {
    margin: 0 auto;
    display: flex;
    width: 45vw;
    height: 42px;
    border: 1px solid lightgray;
    border-radius: 42px;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 0 0 grey; */
}

.lens {
    padding: 0 15px;
    color: grey;
    font-size: 0.9rem;
}

.micro {
    padding-right: 15px;
    color: grey;
    font-size: 1rem;
}

.search-bar input {
    border: none;
    height: 30px;
    font-size: 1.1rem;
    width: 38vw;
}

.main-buttons {
    display: flex;
    justify-content: center;

}

.front-button {
    margin: 40px 5px 0 5px;
    padding: 10px 15px;
    background: lightgrey;
    font-size: 0.9rem;
    border-radius: 5px;
}
