/* ------------------------------------general */
body {
    margin: 0;
    font-family: 'Arial','Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

p {
    margin: 0;
}

.text-anchor {
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.text-anchor:hover {
    text-decoration: underline;
}



/* ------------------------------------header */

header {
    margin-top: 12px;
    color: rgb(70, 70, 70);
}

.top-right-nav {
    display: flex;
    margin: 0 1%;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.top-right-nav li {
    padding-right: 1.2em;
}

.my-profile-img img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
}

/*------------------------------------- footer */

footer {
    background-color: #f2f2f2;
    color: #949494;
}

.country {
    height: 20px;
    padding: 10px 25px;
    font-size: 15px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.footer-options {
    display: flex;
    justify-content: space-between;
    /* border-top: 1px solid #d8d8d8; */
    border-bottom: 1px solid #d8d8d8;
}

.footer-options ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 20px;
    padding: 10px 25px;
}

.left-footer-options li {
    padding-right: 25px;
}

.right-footer-options li {
    padding-left: 25px;
}